/****************************************************************************
FILE          : windebug.rc
LAST REVISED  : February 14, 2001
SUBJECT       : Resource script for the WinDebug component.
PROGRAMMER    : (C) Copyright 2001 by Peter Chapin

This resource script contains the definition of resources that pertain
to the WinDebug debugging window. To insure that WinDebug can locate its
resources, you should include this resource script into the resource
script of the entire application. See the documentation of WinDebug,
windebug.htm, for more information.


REVISION HISTORY

+ Feb 14, 2001: Changed modification date for consistency with the .cpp file.

+ Jan 22, 2000: Some cosmetic changes.

+ Mar 22, 1999: First official release.


LICENSE

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or (at your
option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANT-
ABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

Please send comments or bug reports pertaining to this file to

     Peter Chapin
     P.O. Box 317
     Randolph Center, VT 05061
     pchapin@sover.net
****************************************************************************/

#include "windebug.rh"

/* The icon used by the debugging window. */
DEBUG_ICON ICON "windebug.ico"

/* The menu on the debugging window. */
DEBUG_MENU MENU
{
 POPUP "&File"
 {
  MENUITEM "&Configure...", DEBUG_CONFIGURE
  MENUITEM "Save &Buffer...", DEBUG_SAVEBUFFER
  MENUITEM "&Start Saving Log...", DEBUG_STARTSAVE
  MENUITEM "S&top Saving Log", DEBUG_STOPSAVE
  MENUITEM SEPARATOR
  MENUITEM "E&xit Application", DEBUG_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "Cu&t", DEBUG_CUT
  MENUITEM "&Copy", DEBUG_COPY
 }

 POPUP "&Help"
 {
  MENUITEM "&Help Topics", DEBUG_HELPTOPICS
  MENUITEM SEPARATOR
  MENUITEM "&About", DEBUG_ABOUT
 }

}

